[submodule "alacritty"]
	path = alacritty
	url = https://github.com/alacritty/alacritty.git
[submodule "wezterm"]
	path = wezterm
	url = https://github.com/wezterm/wezterm.git
[submodule "cosmic-term"]
	path = cosmic-term
	url = https://github.com/pop-os/cosmic-term.git
[submodule "libcosmic"]
	path = libcosmic
	url = https://github.com/pop-os/libcosmic.git
